<h1>Edit User</h1>
<%= form_for @user do |f| %>
  <%= f.label :username, 'Username' %>
  <%= f.text_field :username, placeholder: 'Your username here' %> <br><br>

  <%= f.label :email, 'Email' %>
  <%= f.email_field :email, placeholder: 'example@example.com' %> <br><br>

  <%= f.label :password, 'Passsword' %>
  <%= f.password_field :password %> <br><br>

  <%= submit_tag 'Submit' %>
<% end %>