<h1>Create new User</h1>
<!-- 
<form action="/users" method="POST" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username"><br><br>

  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email"><br><br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password"><br><br>

  <input type="submit" value="Submit">
</form>

<%= form_tag("/users") do %>
  <%= label_tag(:username, "Username")%>
  <%= text_field_tag(:username)%>
    <br>
    <br>
  <%= label_tag(:email, "Email")%>
  <%= email_field_tag(:email)%>
    <br>
    <br> 
  <%= label_tag(:password, "Passsword")%>
  <%= password_field_tag(:password)%>
    <br>
    <br>
  <%= submit_tag("Submit")%>

<%end%>
-->

<%= form_for @user do |f| %>
  <%= f.label :username, 'Username' %>
  <%= f.text_field :username, placeholder: 'Your username here' %> <br><br>

  <%= f.label :email, 'Email' %>
  <%= f.email_field :email, placeholder: 'example@example.com' %> <br><br>

  <%= f.label :password, 'Passsword' %>
  <%= f.password_field :password %> <br><br>

  <%= submit_tag 'Submit' %>
<% end %>